<%- include ('../partials/header'); %>
<section class="container pt-3" style="min-height: 80vh;">
    <%- include ('../partials/vaImage'); %>  
    <div class="col-6 offset-3">
      <%- include ('../partials/flash'); %>
  </div>
  <div class="text-center bg-white mb-3 p-3 pb-1 rounded col-sm-12 col-md-6 offset-md-3">    
    <form class="row g-3 align-items-center mx-auto" action="/tickets/search" method="POST">
      <span class=" border-end border-secondary col-auto">
        <a href="/logout" class="link-dark text-decoration-none"><i class="fas fa-power-off text-danger"></i></i>&nbsp; <strong>Logout</strong></a>
        &emsp;
    </span> &emsp; 
    <div class="col-auto">
      <input type="search" name="ticketNumber" class="form-control" aria-describedby="ticketNumber" placeholder="Search Ticket">
    </div>
    <div class="col-auto">
      <button class="btn btn-primary" type="submit">Search </button>
    </div> &emsp;
    <span class="lead col-auto border-start border-secondary col-auto">
        <i class="far fa-id-badge text-info "></i>&nbsp; <strong class="fw-bold"><%= currentUser.username %></strong>
    </span>
      
    </form>                    
  </div>
    
  <section class="row m-0" >
      <% if (tickets.length > 0) { %>
        <h2 class="h2 mb-3 text-center text-white col-12">Logged Tickets</h2>
        <% tickets.forEach(ticket => { %> 
            <div class="col-sm-12 col-md-6 mb-3">
                <div class="card" >
                  <div class="card-body ">
                    <div class="clearfix">
                      <h5 class="card-title fs-2 float-start"><%= ticket.ticketNumber %><small class="fs-5 text-muted my-auto"> - <%= ticket.owner.username %></small></h5>
                      <a href="/tickets/<%= ticket._id %>" class="card-link btn btn-info btn-sm float-end position-relative">
                        View Ticket
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                          <%= ticket.summary.length %> 
                          <span class="visually-hidden">unread messages</span>
                        </span>
                      </a>
                    </div>
                    <br>
                    <h6 class="card-subtitle mb-2 text-muted"><span class="fs-3"><%= ticket.customer %></span> <%= ((ticket.warranty) && (ticket.warranty  == true)) ? "- Under Warranty" : "" %> <%= ((ticket.warranty) && (ticket.warranty  == false)) ? "- Out of Warranty" : "" %></h6>
          
                    <figure class="text-start">
                      <blockquote class="blockquote">
                        <p class="mb-3 text-justify ff-dosis" style="height: 6rem; overflow: hidden"><%= ticket.summary[ticket.summary.length - 1].summary %></p>
                      </blockquote>
                      <figcaption class="blockquote-footer">
                        <cite title="Ticket Owner"><%= ticket.summary[ticket.summary.length - 1].author.username %></cite>
                      </figcaption>
                    </figure>
                  </div>
                  <div class="card-footer">
                    <% let date = new Date(ticket.updatedAt); %>
                    <div class="text-center">Last Updated: <span class="fst-italic fw-light"><%= date.toDateString() %></span></div>
                  </div>
                </div>
              </div> 
            <% }) %> 
        <% } else { %>
            <div class="col-12 fs-3 text-center text-white text-uppercase">
                You have not logged any Ticket.
            </div>
        <% } %> 
    
      
    
  </section>
</section>
<%- include ('../partials/footer'); %> 