<%- include ('../partials/header'); %>
<div class="container-lg container-fluid-md">
    <div class="row m-0 p-2 mt-3">
        <%- include ('../partials/vaImage'); %> 
        <div class="col-md-7 col-sm-12">
            <section class="mt-4  align-self-center">
                <div class="text-center bg-white mb-3 p-3 rounded">
                    <span class=" border-end border-secondary">
                        <a href="/logout" class="link-dark text-decoration-none"><i class="fas fa-power-off text-danger"></i></i>&nbsp; <strong>Logout</strong></a>
                        &emsp;
                    </span> &emsp;
                    <span class="border-end border-secondary">
                        <a href="/tickets" class="link-primary text-decoration-none">All RMA Tickets &nbsp;<i
                                class="fas fa-list"></i></a> &emsp;
                    </span> &emsp; 
                    <span class=" border-end border-secondary">
                            <a href="/tickets/<%= ticket._id %>/history" class="link-secondary text-decoration-none fw-bold"><i class="fas fa-history text-info"></i>&nbsp; History</a>
                            &emsp;
                        </span> &emsp;
                    <span class="lead">
                        <i class="far fa-id-badge text-info "></i>&nbsp; <strong class="fw-bold"><%= currentUser.username %></strong>
                    </span>                    
                </div>
                <%- include ('../partials/flash'); %>
                
                <div class="card ">
                    <div class="card-header text-center ">
                        <div class="clearfix">
                            <a href="/tickets/<%= ticket._id %>/edit" class="btn btn-info float-start text-white">Edit</a>
                            <form action="/tickets/<%= ticket._id %>?_method=DELETE" method="POST" class="float-end mb-0">
                                <button type="submit" class="btn btn-danger ">
                                    Delete
                                </button>
                            </form>
                            
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Ticket details for: <span
                                class="fs-4 text-dark_blue"><%= ticket.ticketNumber %></span></h5>
                        <div class="row border-bottom border-top pb-2 pl-2">
                            <div class="col-sm-6 col-md-8 mt-2">Customer: </div>
                            <div class="col-sm-6 col-md-4 border-start mt-2 fw-bold"><%= ticket.customer %></div>
                        </div>
                        <% if (ticket.numberDevices) { %>
                        <div class="row border-bottom pb-2 pl-2">
                            <div class="col-sm-6 col-md-8 mt-2">Number of Devices: </div>
                            <div class="col-sm-6 col-md-4 border-start mt-2"><span
                                    class="badge bg-info p-2"><%= ticket.numberDevices %></span></div>
                        </div>
                        <div class="row border-bottom pb-2 pl-2">
                            <div class="col-sm-6 col-md-8 mt-2">Warranty</div>
                            <div class="col-sm-6 col-md-4 border-start mt-2"><span
                                    class="badge bg-info p-2"><%= (ticket.warranty) ? "Under Warranty" : "Out of Warranty" %></span>
                            </div>
                        </div>
                        
                        <% } %>
                        
                        <% if (ticket.request) { %>
                        <div class="row border-bottom pb-2 pl-2">
                            <div class="col-sm-6 col-md-8 mt-2">Logged for: </div>
                            <div class="col-sm-6 col-md-4 border-start mt-2 fw-bold"><%= ticket.request %></div>
                        </div>
                        <% } %>
                        <div class="row border-bottom pb-2 pl-2">
                            <div class="col-sm-6 col-md-8 mt-2">Ticket Owner</div>
                            <div class="col-sm-6 col-md-4 border-start mt-2"><i class="fas fa-user-circle text-secondary"></i> <strong><%= (ticket.owner.username) %></strong></div>
                        </div>
                        <div class="row border-bottom pb-2 pl-2">
                            <div class="col-sm-6 col-md-6 mt-2 my-auto">Assign To: </div>
                            <% if (ticket.owner.equals(currentUser) && ticket.assignedTo) { %>
                                <form class="col-sm-6 col-md-4 offset-md-2 border-start mt-2" action="/tickets/<%= ticket._id %>/reclaim?_method=PUT" method="POST">
                                    <div class="row g-3 align-items-center mb-0">
                                        <div class="col-auto fw-bold lead">
                                            <input type="hidden" name="assignedTo" value="<%= ticket.assignedTo.username %>">
                                            <%= ticket.assignedTo.username %> 
                                        </div>
                                        <div class="col-auto">
                                            <button type="submit" class="btn btn-success">Reclaim</button>
                                          </div>
                                    </div>
                                </form>
                            <% } else { %> 

                            <form class="col-sm-6 col-md-6 border-start mt-2" action="/tickets/<%= ticket._id %>/assign?_method=PUT" method="POST">
                                <div class="row g-3 align-items-center mb-0">
                                    <% if(ticket.assignedTo) { %> 
                                   <div class="col-auto fw-bold lead">
                                        <%= ticket.assignedTo.username %> 
                                    </div>
                                    <% } %>
                                    <div class="col-auto">
                                        <% if(users.length !== 0) {  %> 
                                            <select class="form-select" aria-label="Default select example" name="assignedTo" required>
                                                <option value="">Select Colleague</option>
                                                <% users.forEach(user => { %> 
                                                   
                                                    <% if (!currentUser.equals(user))  { %>
                                                        <% if ((ticket.assignedTo) && ticket.assignedTo.equals(user)) {%>  

                                                        <% } else { %> 
                                                            <option value="<%= user._id %>"><%= user.username %></option>
                                                        <% } %> 
                                                    
                                                    <% } %> 
                                                <% }) %> 
                                              </select>
                                              <% } %>
                                    </div>
                                    <div class="col-auto">
                                      <button type="submit" class="btn btn-primary"><i class="fas fa-exchange-alt"></i></button>
                                    </div>
                                  </div>                                  
                            </form>
                        <% } %> 
                        </div>
                        <div class="row border-bottom pb-2 pl-2">
                            <div class="col-sm-6 col-md-8 mt-2">
                                Summaries for this ticket
                            </div>
                        </div>
                        <ul class="list-group list-group-flush ff-dosis">
                            <% for( let index = (ticket.summary.length - 1); index >= 0 ; index-- ) { %>
                            <li class="list-group-item row m-0 p-2 bg-light rounded-top  border border-1 mt-2">
                                <p class="fst-italic fw-light text-end text-mute ">
                                    <% let date = new Date(ticket.summary[index].dateAdded); %>
                                    <%= date.toUTCString() %>
                                </p>
                                <figure class="text-justify">
                                    <blockquote class="blockquote">
                                        <p class="p-1 ff-dosis"><%= ticket.summary[index].summary %> </p>
                                    </blockquote>
                                    <figcaption class="blockquote-footer">
                                        <cite title="<%= ticket.summary[index].author.username %>"><%= ticket.summary[index].author.username %></cite>
                                    </figcaption>
                                  </figure>
                                <div>
                                    <form action="/tickets/<%= ticket._id %>/summary?_method=DELETE" method="POST">
                                        <div class="text-end">
                                            <input type="hidden" name="summaryId" value="<%= ticket.summary[index]._id %>">
                                            <button type="submit" class="btn btn-danger btn-sm">
                                                <i class="fas fa-trash-alt"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <% } %>
                        </ul>
                    </div>
                    <div class="card-footer text-muted text-center">
                        <% let date = new Date(ticket.updatedAt); %>
                        Ticket last updated: <%= date.toDateString() %>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-5 col-sm-12 mt-4 text-white">
            <h2 class="fs-3 px-3">Update Ticket</h2>
            <form action="/tickets/<%= ticket._id %>/summary?_method=PUT" method="POST" class=" g-3 needs-validation align-self-center"
                novalidate id="updateTicket">
                <div class="row p-3">
                    <div class="col-12 text-sm-start">
                        <label for="region" class="form-label fw-bold fs-5 text-white">Provide a new update for this ticket</label>
                    </div>
                    <div class="col-12">
                        <textarea name="summary" id="summary" cols="30" rows="5" class="form-control"
                            required></textarea>
                        <div class="invalid-feedback ">
                            Please provide a summary for this update.
                        </div>
                    </div>
                </div>

                <div class="col-12 text-center">
                    <button class="btn btn-primary" type="submit">Update &nbsp; <i
                            class="far fa-arrow-alt-circle-up"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>
<section class="row m-0">


</section>
<%- include ('../partials/footer'); %>